<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>Decora con gusto</h2>
				<p>El colectivo que hará tu boda brillar</p>
			</div>
			<div class="5u 12u(medium)">
				<ul>
					<li><a href="/catalogo" id="catalogo" class="button big icon fa-arrow-circle-right">Catálogo</a></li>
					<li><a href="/contacto" class="button alt big icon fa-question-circle">Más info</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>