<div id="page-wrapper">

	<!-- Header -->
		<%= erb :header %>

	<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div class="row 200%">
					<%= erb :sidebar %>
					<%= erb :catalog_content %>
				</div>
			</div>
		</div>
</div>
		