<div class="9u 12u$(medium) important(medium)">
	<div id="content">

		<!-- Content -->

				<h2><%= @breadcrumb %></h2>
				<div class="row">
					<% @products.each do |category| %>
						<% category.each do |product|%>
							<div class="4u 12u(medium)">

								<section class="box feature">
									<a href="#" class="image featured"><img src="<%= product["images"].first %>" alt="" /></a>
									<div class="inner">
										<header>
											<h4><%= product["name"] %></h4>
											<p><%= product["price"] %></p>
										</header>
									</div>
								</section>
							</div>
						<% end %>
					<% end %>
				</div>

	</div>
</div>