<link rel="stylesheet" href="../css/contact.css">
<%= erb :header %>
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="12u 12u(medium)" style="text-align:center">
				<h2>Contacta con nosotros</h2>
			</div>
			<div class="2u 12u(medium)">
				
			</div>
			<div class="8u 12u(medium)">
				<form action="/send_mail" method="post">
					<input type="text" name="name" placeholder="Nombre" class="contact">
					<input type="text" name="email" placeholder="Email" class="contact">
					<input type="text" name="subject" placeholder="Asunto" class="contact">
					<textarea name="message" placeholder="Escribe aquí lo que quieres preguntarnos" class="contact"></textarea>
					<input class="12u" type="submit">
				</form>
				<br>
				<span class="movil">Si lo prefieres, llámanos directamente al 686382876</span>
			</div>
			
		</div>
	</div>
</div>