<div id="features-wrapper">
	<div class="container">
		<h2>Blog</h2>
		<div class="row">
			<div class="6u 12u(medium)">

				<!-- Box -->
					<section class="box feature">
						<a href="#" class="image featured"><img src="images/fotoportada.jpg" alt="" /></a>
						<div class="inner">
							<header>
								<h2>¿Cómo trabajamos?</h2>
								<p>Tenemos la ilusión de un niño y la experiencia de un iaio</p>
							</header>
							<p>Si quieres saber más sobre nosotros.. ¡ven a conocernos!</p>
						</div>
					</section>

			</div>
			<div class="6u 12u(medium)">

				<!-- Box -->
					<section class="box feature">
						<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
						<div class="inner">
							<header>
								<h2>An interesting title</h2>
								<p>This is also an interesting subtitle</p>
							</header>
							<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
						</div>
					</section>

			</div>
			
		</div>
	</div>
</div>