<footer class="footer page-section-pt">
<div class="container">

<div class="row top">
<div class="col-lg-6 col-md-6">
  <h4 class="logo-dark">L'eclat</h4>
</div>

<div class="col-lg-6 col-md-6">
  <div class="social text-left sm-mt-0 text-md-right xs-mt-20">
      <ul>
          <li>
              <a target="_blank" href="#"> <i class="fa fa-facebook"></i> </a>
          </li>
          <li>
              <a target="_blank" href="https://www.instagram.com/leclateventos"> <i class="fa fa-instagram"></i> </a>
          </li>
      </ul>
  </div>
</div>

</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
     <div class="divider mt-50 mb-50"></div>
  </div>
</div>

<div class="row">
<div class="col-lg-5 col-md-5 sm-mt-30">
  <div class="about-content">
      <div class="row">
        <h6 class="mb-20 text-uppercase">Sobre nosotros</h6>
        <p>L'eclat lleva muchos años al frente de la decoración de los eventos más bonitos de valencia. Con un estilo muy personal y naturista creamos un ambiente único e inclusivo. Los invitados se sentirán como en casa, o mejor, si nos eliges.</p>
      </div>
  </div>
</div>
<div class="col-lg-7 col-md-7 sm-mt-30 sm-mb-30">
  <h6 class="mb-20 text-uppercase">Páginas útiles</h6>
  <div class="usefull-link">
      <div class="row">
          <div class="col-lg-4 col-sm-4">
              <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Bodas</a></li>
                <li><a href="#">Comuniones</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-4">
              <ul>
               <li><a href="#">Ceremonias</a></li>
              <li><a href="#">Ramos de novia</a></li>
              <li><a href="#">Centros de mesa</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-4">
              <ul>
                 <li><a href="#">Prendidos</a></li>
                 <li><a href="#">Letras y carteles</a></li>
                 <li><a href="#">Contacto</a></li>
              </ul>
          </div>
      </div>
   </div>
  </div>
 </div>
</div>

<div class="copyright gray-bg mt-50">
<div class="container">
<div class="row">
  <!-- <div class="col-md-6">
      <ul class="text-left">
         <li class="list-inline-item"><a href="#">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="#">API Use Policy </a> &nbsp;&nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
      </ul>
  </div> -->
  <div class="col-12">
      <div class="text-center">
          <p> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#">  L'eclat </a> Todos los derechos reservados </p>
      </div>
  </div>
</div>
</div>
</div>
</footer>
