<footer class="footer page-section-pt">
<div class="container">

<div class="row top">
<div class="col-lg-6 col-md-6">
  <img class="img-fluid" id="logo-footer" src="images/logo-dark.png" alt="">
</div>

<div class="col-lg-6 col-md-6">
  <div class="social text-left sm-mt-0 text-md-right xs-mt-20">
      <ul>
          <li>
              <a href="#"> <i class="fa fa-facebook"></i> </a>
          </li>
          <li>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
          </li>

          <li>
              <a href="#"> <i class="fa fa-dribbble"></i> </a>
          </li>

          <li>
              <a href="#"> <i class="fa fa-linkedin"></i> </a>
          </li>
      </ul>
  </div>
</div>

</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
     <div class="divider mt-50 mb-50"></div>
  </div>
</div>

<div class="row">
<div class="col-lg-5 col-md-5 sm-mt-30">
  <div class="about-content">
      <h6 class="mb-20 text-uppercase">about us</h6>
      <p>Webster is the most enticing, creative, modern and multipurpose Premium HTML5 Template suitable for any business or corporate websites. Build whatever you like with the Webster. It has endless possibilities for creating stunning websites no matter what type of business is!</p>
  </div>
</div>
<div class="col-lg-7 col-md-7 sm-mt-30 sm-mb-30">
  <h6 class="mb-20 text-uppercase">Useful Links</h6>
  <div class="usefull-link">
      <div class="row">
          <div class="col-lg-4 col-sm-4">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Service</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-4">
              <ul>
               <li><a href="#">Contact Us</a></li>
              <li><a href="#">Create Account</a></li>
              <li><a href="#">Company Philosophy</a></li>
              </ul>
          </div>
          <div class="col-lg-4 col-sm-4">
              <ul>
                 <li><a href="#">Corporate Culture</a></li>
                 <li><a href="#">Portfolio</a></li>
                 <li><a href="#">Client Management</a></li>
              </ul>
          </div>
      </div>
   </div>
  </div>
 </div>
</div>

<div class="copyright gray-bg mt-50">
<div class="container">
<div class="row">
  <div class="col-md-6">
      <ul class="text-left">
         <li class="list-inline-item"><a href="#">Terms & Conditions </a> &nbsp;&nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="#">API Use Policy </a> &nbsp;&nbsp;&nbsp;|</li>
         <li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
      </ul>
  </div>
  <div class="col-md-6">
      <div class="text-left text-md-right xs-mt-15">
          <p> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster </a> All Rights Reserved </p>
      </div>
  </div>
</div>
</div>
</div>
</footer>
