<div id="header-wrapper">
	<header id="header" class="container">

		<!-- Logo -->
			<div id="logo">
				<h1><a href="/">Decorabodas.es</a></h1>
				<span></span>
			</div>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="/">Inicio</a></li>
					<li><a href="/catalogo">Catálogo</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</nav>

	</header>
</div>
