<!-- Header -->
	<%= erb :header %>

  <%= erb :index_carousel %>

  <section class="page-section-pt">
     <div class="container">
        <div class="row justify-content-center text-center">
           <div class="col-lg-10 col-md-10 ">
              <strong>Where Innovation Meets Your Requirements</strong>
              <h2 class="mt-20">Webster is an exclusive multi-purpose 100% responsive template with powerful features.</h2>
              <p class="normal mt-30">Simple and well-structured coding, high quality and <span class="theme-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">flexible layout,</span> scalable features along with color schemes to create tailor-cut websites. With bootstrap, responsive mega menu and various layouts including incredible blog template</p>
             <div class="action-box-button mt-40">
             <a class="button icon xs-mb-10" href="#">
              <span>More Demo</span>
              <i class="fa fa-hand-o-right"></i>
           </a>
            <a class="button button-border" target="_blank" href="#">
              <span>Purchase Now</span>
              <i class="fa fa-download"></i>
           </a>
          </div>
           </div>
        </div>
     </div>
     <div class="mt-0">
       <img class="img-fluid mx-auto" src="images/bg/13.png" alt="">
     </div>
  </section>

  <!--=================================
  custom-content -->

  <!--=================================
  our-awesome-core -->

  <section class="our-awesome-core page-section-ptb pos-r gray-bg o-hidden">
     <div class="side-background">
        <div class="row">
          <div class="col-md-5 img-side img-left d-xs-block d-lg-block d-none">
                <img src="images/objects/06.jpg" class="img-fluid mx-auto" alt="">
              </div>
          </div>
      </div>
     <div class="container">
       <div class="row justify-content-end">
         <div class="col-lg-7 mt-30">
         <div class="section-title mb-0">
            <h6>Why webster is best!  </h6>
            <h2 class="title-effect title-effect">Our awesome core features</h2>
            <p>We are an innovative agency. Our clients are some of the most forward-looking companies in the world.</p>
          </div>
           <div class="row mt-50">
             <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="feature-text text-left mb-40">
                <div class="feature-icon">
                 <span class="ti-desktop theme-color" aria-hidden="true"></span>
                </div>
                <h5>Fully Responsive</h5>
                 <p>Responsive Lorem Ipsum used since the 1500s is reproduced below for those.. </p>
             </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="feature-text text-left mb-40">
                <div class="feature-icon">
                <span class="ti-layout-grid2 theme-color" aria-hidden="true"></span>
                </div>
                <h5>50+ Homepage layouts</h5>
                 <p>Great support quibusdam reproduced enim expedita sed quia nesciunt incidunt..</p>
             </div>
            </div>
           </div>
           <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="feature-text text-left mb-40">
                <div class="feature-icon">
                <span class="ti-support theme-color" aria-hidden="true"></span>
                </div>
                <h5>Great Support</h5>
                 <p>Fully customizable template enim expedita sed quia nesciunt incidunt accusamus..</p>
             </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="feature-text text-left">
                <div class="feature-icon">
                <span class="ti-user theme-color" aria-hidden="true"></span>
                </div>
                <h5>User Friendly</h5>
                 <p>Fast as light Ipsum used since the 1500s is reproduced below for those Sections.. </p>
             </div>
            </div>
           </div>
           </div>
         </div>
       </div>
   </section>
<!-- Footer -->
	<%= erb :footer %>

