<div id="main-wrapper">
	<div class="container">
		<div class="row 200%">
			<!-- <div class="4u 12u(medium)">

					<div id="sidebar">
						<section class="widget thumbnails">
							<h3>Colaboradores</h3>
							<div class="grid">
								<div class="row 50%">
									<div class="6u"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div>
									<div class="6u"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>
								</div>
							</div>
							<a href="#" class="button icon fa-file-text-o">More</a>
						</section>
					</div>

			</div> -->
			<div class="8u 12u(medium) important(medium)">

				<!-- Content -->
					<div id="content">
						<section class="last">
							<h2>Filosofía de trabajo</h2>
							<p>En nuestra plataforma <strong>Decorabodas.es</strong>, cabe cualquier idea, producto o servicio que pueda hacer a tu boda brillar como se merece.<br>
							Buscamos compañeros de viaje, por tanto si tienes algo especial y crees que nuestros clientes podrían verse beneficiados <a href="/contacto">contacta con nosotros</a></p>
							<a href="/contacto" class="button icon fa-arrow-circle-right">¿Qué buscamos?</a>
						</section>
					</div>

			</div>
		</div>
	</div>
</div>