<div id="features-wrapper">
<div class="container">
	<div class="row">
		<% @products.first(3).each do |product| %>
				<div class="4u 12u(medium)">
					<section class="box index feature">
						<a href="/catalogo/ver/<%= product["name"] %>" class="index_image featured"><img src="<%= product["images"].first %>" alt="" /></a>
						<div class="inner">
							<header>
								<h4><%= product["name"] %></h4>
							</header>
						</div>
					</section>
				</div>
		<% end %>
	</div>
</div>
</div>