<div id="sidebar">

		<!-- Sidebar -->
			

			<section>
				<h3>Productos relacionados</h3>
				<ul class="style2">
					<li><a href="/catalogo">Todas</a></li>
					<% @related_products.each do |product| %>
						<li><a href="/catalogo/ver/<%= product['name'] %>"><%= product["name"] %></a></li>
					<% end %>
				</ul>
			</section>

			<section>
				<h3>Garantía de originalidad</h3>
				<p>Nuestros productos destacan por su singularidad. Nos centramos en conseguir aquello que nadie tiene pero que todos quieren.
				<br> 
				Siempre estamos <a href="#">buscando</a> nuevos productos o servicios con el fin de satisfacer a nuestros clientes</p>
				
			</section>

	</div>